val-sig-skew 

There should be a discussion regarding the consideration of these parameters and associated values. 

       val-sig-skew-min: <seconds>
              Minimum number of seconds of clock skew to  apply  to  validated
              signatures.   A  value of 10% of the signature lifetime (expira-
              tion - inception) is used, capped by this setting.   Default  is
              3600  (1  hour)  which  allows for daylight savings differences.
              Lower this value for more strict checking of short lived  signa-
              tures.

       val-sig-skew-max: <seconds>
              Maximum  number  of  seconds of clock skew to apply to validated
              signatures.  A value of 10% of the signature  lifetime  (expira-
              tion  -  inception) is used, capped by this setting.  Default is
              86400 (24 hours) which allows for timezone setting  problems  in
              stable  domains.  Setting both min and max very low disables the
              clock skew allowances.  Setting both min and max very high makes
              the validator check the signature timestamps less strictly.
[1] https://nlnetlabs.nl/documentation/unbound/unbound.conf/


Possible reference (but it addresses only a part of the issue): RFC 6781 Section 4.4.2

Thanks for the comment. My overall impression is that most the checks between signature validity and TTL could be handled by the publisher and that a validator should be able to work properly without any adjustment. I would like to say the same regarding the (acceptable) clock derivation of validators. 
On the other hand, the resolver may help and prevent some disruptions  an may implement some checks to put some safe guards. Ensuring coherence between the TTLs of the DS, KSK, ZSK may be one. Limiting the TTL may be another. I am a little bit confused by the    val-sig-skew-min which seems to implement a larger TTL than the one originally published. 